﻿@{
    Layout = null;
}

<form class="form-horizontal" ng-submit="submit()">
    <fieldset>
        <legend>Predlog akta</legend>
        <div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Dokument: </label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="12" id="textArea" ng-model="dokument"></textarea>
                    <span class="help-block">Dobar dan Nemanja. Ovde nalepi xml dokument.</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Poništi</button>
                <button type="submit" class="btn btn-primary">Predloži</button>
            </div>
        </div>
    </fieldset>
</form>
