﻿@{
    Layout = null;
}

<div class="list-group" ng-show="showList">
    <div class="list-group-item" ng-repeat="akat in akati">
        <h4 class="list-group-item-heading">{{akat.nazivField}}</h4>
        <button class="btn btn-primary"  ng-click="prikaziAkat(akat.idField)">Prikaži</button>
        <button class="btn btn-primary" ng-click="obrisiAkat(akat.idField)" >Povuci predlog</button>
        <button class="btn btn-primary" ng-click="predloziAmandman(akat)">Predloži amandman</button>
        <button class="btn btn-primary" ng-click="prikaziAmandmane(akat)">Prikaži amandmane</button>
     </div>
</div>

<div name="prikazDokumentaAkt" ng-show="showDocumentAkt">
    <div ng-bind-html="htmlDokument">
    </div>
    <button type="button" class="btn btn-primary" ng-click="showList=true; showForm=false; showDocumentAkt=false;">Zatvori</button>
</div>

<div name="prikazDokumentaAm" ng-show="showDocumentAm">
    <div ng-bind-html="htmlDokument">
    </div>
    <button type="button" class="btn btn-primary" ng-click="showListAm=true; showForm=false; showDocumentAm=false;">Zatvori</button>
</div>


<div name="forma" ng-show="showForm">
    <form class="form-horizontal" ng-submit="submit()">
        <fieldset>
            <legend>Predlog amandmana na akat: {{trenutniAkat.nazivField}}</legend>
            <div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Dokument: </label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="12" id="textArea" ng-model="dokument"></textarea>
                        <span class="help-block">Dobar dan Nemanja. Ovde nalepi xml dokument.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Poništi</button>
                    <button type="submit" class="btn btn-primary">Predloži</button>
                    <button type="button" class="btn btn-primary" ng-click="showList=true; showForm=false; showDocument=false;">Zatvori</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div name ="amandmaniAkta" ng-show="showListAm">

    <div class="list-group">
        <div class="list-group-item" ng-repeat="amandman in amandmaniAkta">
            <h4 class="list-group-item-heading">Amandman {{amandman.idField}}</h4>
            <button class="btn btn-primary" ng-click="prikaziAmandman(amandman.idField)">Prikaži</button>
            <button class="btn btn-primary" ng-click="obrisiAmandman(amandman.idField)">Povuci predlog</button>
        </div>
    </div>

    @*<button class="btn btn-primary" ng-click="predloziAmandman(trenutniAkat)">Predloži novi</button>*@
    <button type="button" class="btn btn-primary" ng-click="showListAm=false; showList=true;">Zatvori</button>

</div>


