﻿@{
    Layout = null;
}


<div ng-show="metapodaci">
    <form class="form-horizontal" ng-submit="submit()">
        <fieldset>`
            <legend>Pretraga po metapodacima</legend>
            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Pretraga po: </label>
                <div class="col-lg-2">
                    <select ng-model="selectMeta" class="form-control" id="select">
                        <option value="Preambula">Preambula</option>
                        <option value="Naziv">Naziv</option>
                        <option value="Predlagac">Predlagač</option>
                        <option value="Datum">Datum</option>
                    </select>
                </div>
                <div class="col-lg-5">
                    <input type="text" class="form-control" ng-model="inputMeta">
                </div>
                <button type="submit" class="btn btn-primary">Traži</button>
                <button type="reset" class="btn btn-default">Poništi</button>
            </div>
        </fieldset>
        </form>

</div>

<div ng-show="tekst">
    <form class="form-horizontal" ng-submit="submit()">
        <fieldset>
            <legend>Pretraga po tekstualnom sadržaju</legend>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Tekst: </label>
                <div class="col-lg-5">
                    <textarea class="form-control" rows="5" id="textArea" ng-model="inputTekst"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Traži</button>
                    <button type="reset" class="btn btn-default">Poništi</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>

<div name="results" ng-show="showResults">
    <br><br>
    <legend>Rezultati pretrage</legend>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="res in results">
            <h4 class="list-group-item-heading">{{res.nazivField}}</h4>
            <button class="btn btn-primary" ng-click="prikaziAkat(res.idField)">Prikaži</button>
            @*<button class="btn btn-primary" ng-click="obrisiAkat(akat.idField)">Povuci predlog</button>
                <button class="btn btn-primary" ng-click="predloziAmandman(akat)">Predloži amandman</button>
                <button class="btn btn-primary" ng-click="prikaziAmandmane(akat)">Prikaži amandmane</button>*@
        </div>
    </div>
</div>

<div name="prikazDokumentaAkt" ng-show="showDocument">
    <div ng-bind-html="htmlDokument">
    </div>
    <button class="btn btn-primary" ng-click="close()">Zatvori</button>
</div>




