﻿@{
    Layout = null;
}

@*<div class="list-group" ng-repeat="akat in akati | filter: {stanjeField: 'U_PROCEDURI'}">
    <a href="#" class="list-group-item ">
        {{akat.nazivField}}
    </a>
</div>*@

<div class="list-group" ng-show="showListAkt">
    <a href=""  class="list-group-item" ng-repeat="akat in akati | filter: aktFilter" ng-click="prikaziAkat(akat)">
        <h4 class="list-group-item-heading">{{akat.nazivField}}</h4>
        <p class="list-group-item-text">{{akat.preambulaField}}</p>
    </a>
</div>

<div name="odluka" ng-show="odluka">
    <a href="" class="btn btn-danger btn-lg btn-block" ng-click="odbijPredlog()">Predlog se odbija</a>
    <a href="" class="btn btn-primary btn-lg btn-block" ng-click="glasanjeUNacelu()">Glasanje u načelu</a>
    <br>
    <button type="button" class="btn btn-default" ng-click="showListAkt=true; odluka=false; glasanje=false;">Zatvori</button>
</div>

<div name="glasanje" ng-show="glasanje">
    <legend>Akat</legend>
    <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">{{trenutniAkat.nazivField}}</h4>
        <p class="list-group-item-text">{{trenutniAkat.preambulaField}}</p>
    </a>
    <legend>Amandmani na predlog akta</legend>
    <div class="list-group">
        <a href="" class="list-group-item" ng-repeat="amandman in amandmaniAkta">
            <h4 class="list-group-item-heading">{{amandman.idField}}</h4>
            <p class="list-group-item-text">Nesto iz amandmana cemo staviti ovde</p>
        </a>
    </div>
    <br>
    <button type="button" class="btn btn-default" ng-click="showListAkt=true; odluka=false; glasanje=false;">Zatvori</button>
</div>





