﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-ui-router")
    @Scripts.Render("~/bundles/control")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/ngStorage")
    @RenderSection("scripts", required: false)
</head>
<body ng-app="app">

    <div ng-controller="mainController">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Skupština grada Novog Sada</a>
                </div>
                <ul class="nav navbar-nav" ng-if="isLoggedIn()">
                    <li class=" "><a href=" #">
                    Početna</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Aktivnosti<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="predlaganjeAkta">Predlaganje akata</a></li>
                            <li><a ui-sref="pregledAkata">Pregled akata</a></li>
                            <li><a ui-sref="sednica">Započni sednicu</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pretraga akata<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="changeState('metapodaci')">Po metapodacima</a></li>
                            <li><a href="#" ng-click="changeState('tekst')">Po tekstualnom sadržaju</a></li>
                        </ul>
                    </li>
                    <li><a href="#" ng-click="logout()" ng-show="isLoggedIn()">Log out</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
